header{
    height: fit-content;
}
.navbar li a {
    font-size: 13px;
    padding: 10px;
}
.right {
    right: 0;
    top: 23px;
}
.mid{
    flex-direction: row;
    padding-top: 8vh;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
}
button.btn {
    font-size: 13px;
    padding: 8px;
    margin: 0px 4px;
}
h1#heading{
    padding: 0px;
    padding-top: 45px;
}    
div#h3{
    margin: 15px 0px 39px auto;
}
div.container{
    width: min-content;
    padding: 0px;
}
div.formitem{
    margin: 24px;
}
#inputsubmit{
    margin: auto 22% 10%;
}
footer{
    height: 44vh;
}
footer div#footercontact {
    height: 39vh;
    padding: 45px 12px;
    font-size: 0.7rem;
}
footer div.center {
    height: 3vh;
    padding-top: 1vh;
    font-size: 0.7rem;
}
