*{
    margin: 0px;
    padding: 0px;

} 
.left {
       font-size: 20px;
       display: inline-block;
       position: absolute;
       left: 8px;
       top: 8px;
   }
   .left img {
       width: 56px;
       height: 56px;
       padding-left: 10px;
   }

.mid {
       font-size: 18px;
       display: flex;
       margin: -7px auto;
       padding: 25px;
       /* padding-left: 480px; */
       justify-content: center;
   }

   .right {
       position: absolute;
       right: 34px;
       top: 13px;
       display: inline-block;
   }
   header{
       background-color:rgb(0, 0, 0);
       height: 77px;
       width: 100vw;
   }

   .navbar {
       display: inline-block;
       justify-content: center;
       text-align: center;
       margin: 4px auto;
   }

   .navbar li {
       display: inline-block;
       color: white;
       font-size: 22px;
       justify-content: center;
       text-align: center;
   }

   .navbar li a {
       color: rgb(252, 251, 251);
       text-decoration: none;
       padding: 15px;
       
   }

   .navbar li a:hover,
   .navbar li a.active {
       color: rgb(152, 194, 208);
       text-decoration: underline;
       padding: 15px;
       cursor: pointer;
   }

   .btn:hover {
       background-color: rgb(152, 194, 208);
       border-color: white;
       color: white;
       cursor: pointer;
   }
   div.container button.btn{
       margin-left: 30%;
       margin-top: 30px;
       padding: 10px 40px;
       border-radius: 45px;
   }
   button.btn{
   font-size: 20px;
   padding: 10px;
   font-weight: bold;
   border-radius: 12px;
   margin: 0px 11px;
   /* border: none; */
   color: rgb(152, 194, 208);
   }  
   div.left{
       margin:auto;
   } 
    div#heading{
       padding: 70px 46px 0px 38px;
       height: 101px;
       color:  rgb(251, 250, 250);
       width: 49vw;
       display: inline;
       margin-right: -499px;
   }
   section#uppersection #heading .text{
       display: inline;
       font-size: 9vw;
       z-index: 1;
       padding: 12px;
       font-family: 'Whisper', cursive;
       text-shadow: 4px 5px 8px rgb(179, 224, 240);
   }

   section#uppersection{
       height: 707px;
       display: inline-flex;
       width: 100vw;
   }

   div.slogan{
       font-size: 2vw;
       margin-left: -13px;
       margin-top: 30px;
       font-family: 'Tapestry', cursive;
       color: #a8d6e8;
       font-weight: bold;
       text-shadow: 3px 3px 4px rgb(122, 138, 144);
   }
   div#heading hr{
       width: 26vw;
       color: rgb(254, 253, 253);
       margin-top: 65px;
       border: 0px solid rgb(253, 252, 252);
       margin-left: -5px;
       border-top-width: 4px;
       fill: #ffffff;
   }
   div#frstcontact{
       justify-content: left;
       margin-top: 46px;
       text-align: left;
       margin-left: 1vw;
       font-size: 25px;
   }
   div#frstcontact a{
      color: white;
   }
   div.images#contactimg{
      filter: invert(1);
   }
   section#uppersection::before{
   content: "";
   position: absolute;
   background: url('resmain.jpg') no-repeat center center/cover;
   height: 803px;
   width: 100vw;
   z-index: -1;
   }

section#secondsection{
   width: 100vw;
   height: 62vh;    
}
div#subsection{
   display: flex;
   margin: auto;
   justify-content: center;
}
div.circle img{
   height: 38vh;
   width: 15vw;
   margin: 5px;
  margin-top: 24px;
   border: 4px solid  rgb(21 40 44 / 69%);
   border-radius: 12px;
   padding: 0px;
   /* background-color: rgb(255, 255, 255); */

}
div.circle img:hover{
    border: 4px solid rgba(224, 237, 239, 0.689);
    box-shadow: 0px 0px 25px rgb(33, 35, 36);
    margin: 10px;
    margin-top: 22px;
    height: 41vh;
    width: 17vw;
}

div#salonmain img{
   height: 55vh;
   margin-top: -40px;
   width: 17vw;
}
div#salonmain img:hover{
   margin: 10px;
   margin-top: -43px;
   height: 57vh;
   width: 19vw;
}
div.circle.sidepic img{
   height: 25vh;
   margin-top: 75px;
   width: 12vw;
}
div.circle.sidepic img:hover{
   height: 28vh;
   width: 14vw;
}
div.images{
   text-align: center;
   justify-content: center;
   display: inline-block;
   color: black;
}
div.images#moreimage a{
   color: black;
}
div#moreimage{
   justify-content: center;
   display: block;
   margin-top: 15px;
}
div#moreimage:hover{
   font-size: 18px;
}
div#contactimg img{
   width: 25px;
   height: 25px;
   margin-top: 32px;
   text-align: center;
   margin-left: 13px;
   margin-bottom: -6px;
}
section#secondsection::before{
   content: "";
   position: absolute;
   background-color: rgb(116 151 185);
   height: 62vh;
   width: 100vw;
   opacity: 0.9;
   z-index: -2;
}

section#thirdsection{
   width: 100vw;
   height: 60vh;
   display: inline;
}
section#thirdsection::before{
   content: "";
   position: absolute;
   background-color: rgb(116 173 196 / 67%);
   height: 57vh;
   width: 100vw;
   z-index: -1;
}
section#thirdsection div.thrd{
   display: flex;
   height: 44vh;
}
div.thrdhead{
   font-family: 'Updock', cursive;
   font-size: 3rem;
   margin-left: 10vw;
   padding-top: 17px;
   text-shadow: 4px 4px 5px rgb(169, 162, 162);
   color: rgb(3, 8, 32);
}
div.circleimg {
   width: 34vw;
   margin-top: 3vh;
}
div.circleimg img {
   height: 41vh;
   width: 44vw;
}
p.thrdpara{
   justify-content: center;
   text-align: center;
   margin: auto;
   width: 47vw;
   margin-left: 192px;
   font-size: 17px;
}
p.thirdhead{
   font-size: 72px;
   font-family: 'Lavishly Yours', cursive;
}
div#thrdpara{
   justify-content: center;
   margin-top: -5vh;
}
div#contactlash{
   font-size: 32px;
   margin-top: 6vh;
   margin-left: 27vw;
}
div#contactlash:hover{
   text-decoration: underline;
   font-weight: bold;
}
div#contactlash a{
   text-decoration: none;
   color: black;
}
section#forthsection{
   height: 54vh;
   background-color: rgb(2, 2, 2);
   display: flex;
   width: 100vw;
}
div#fourth{
   color: white;
   margin-top: 8vh;
   width: 60vw;
}
div#forthimg{
   margin: auto;
}
div#forthimg img{
   width: 44vw;
   max-height: 54vh;
}
div#fourth div#contactlash a{
   color: white;
}
div#fourth p.thrdpara{
   margin-left: 50px;
}
div#fourth div#contactlash{
   margin-left: 15vw;
}
section#fifthsection{
   height: 55vh;
   background-color:rgb(116 173 196 / 67%);
   display: flex;
   width: 100vw;
}
div.fifthimg img{
   height: 64vh;
   width: 54vw;
   margin: -9vh;
   margin-left: -8vw;
}
div#fifth{
   margin-top: 10vh;
   margin-left: -9vw;
}
section#sixthsection{
   height: 50vh;
   width: 100vw;
   display: flex;
   background-color: rgb(123 157 193);
}
div#sixth{
   width: 60vw;
   margin-top: 6vh;
   margin-left: -17vh;
}
div#sixthimg{
   width: 40vw;
   justify-content: right;
}
div#sixthimg img{
   height: 55vh;
    margin-top: -5vh;
    margin-left: 8vw;
    width: 38vw;
}
section#seventhsection{
   width: 100vw;
   height: 55vh;
   display: flex;
   background-color: rgb(116 173 196 / 67%);
}
div.seventhimg img{
   height: 55vh;
    width: 35vw;
}
div#seventh{
   width: 59vw;
   margin-top: 7vh;
}
section#eighthsection{
   height: 100vh;
   width: 100vw;
   justify-content: center;
}
div#artistdescription{
   display: flex;
   justify-content: center;
   height: 71vh;
}
section#eighthsection::before{
   content: "";
   position: absolute;
   background: url('flowerbg1.jpg') no-repeat center center/cover;
   height: 100vh;
   width: 100vw;
   z-index: -1;
   }

div.boxes{
   width: 17vw;
   height: 59vh;
   border: 3px solid #050b3a;
   border-radius: 0% 7% 0% 7%;
   margin: 10px;
   margin-top: 30px;
   background-color: #050421;
   box-shadow: 10px 11px 6px rgb(51, 49, 49);
}
div.boxes:hover{
   box-shadow: 10px 11px 10px rgb(51, 49, 49);
   width: 18vw;
   height: 61vh;
}
div.boxes img{
   width: 10vw;
   height: 22vh;
   margin: 1vh 3.5vw 0px 3.5vw;
   border: 5px solid #ffffff;
   border-radius: 4%;
}
p.artistname{
   font-size: 20px;
   color: white;
   margin: auto;
   text-align: center;
   font-family: 'Ms Madi', cursive;
}
p.artist{
   font-family: 'Lobster', cursive;
}
div p.work{
   font-family: 'Rokkitt', serif;
   margin: 3vh 2vw 1vh 2vw;
   font-size: 1rem;
}
div.lastslogan{
   font-family: 'Whisper', cursive;
   font-size: 3rem;
   text-align: center;
   margin-top: 4vh;
}
footer{
   height: 50vh;
   width: 100vw;
   display: flex;
   flex-direction: column;
}
footer div#footercontact{
   height: 47vh;
   background-color: #020415;
   color: white;
   padding: 24px 48px;
}
div#footercontact p{
   margin-bottom: 13px;
}
div#footercontact p a{
   text-decoration: none;
   color: white;
   font-weight: bold;
   font-size: 20px;
}
div#footerimg img{
   width: 25px;
   height: 25px;
   text-align: center;
   filter: invert(100%);
}
footer div.center{
   width: 100vw;
   height: 3vh;
   background: black;
   color: white;
   padding: 9px 0px;
   justify-content: center;
   text-align: center;
   }
