header{
    height: fit-content;
}
.navbar li a {
    font-size: 13px;
    padding: 10px;
}
.right {
    right: 0;
    top: 23px;
}
.mid{
    flex-direction: row;
    padding-top: 8vh;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
}
button.btn {
    font-size: 13px;
    padding: 8px;
    margin: 0px 4px;
}
section#uppersection{
    height: 100vh;
}
section#uppersection::before {
    height: 100vh;
    width: 100vw;
}
section#uppersection #heading .text {
    font-size: 6rem;
    z-index: 1;
    /* margin-top: 44vh; */
}
div.slogan {
    font-size: 21px;
    margin-left: 5px;
    margin-top: 13px;
}
div#heading {
    padding: 9px 40px 22px 37px;
    height: 38vh;
    width: 56vw;
     display: block;
}
div#heading hr {
    width: 26vw;
    margin-top: 25px;
    margin-left: 11px;
    color: black;
}
div#frstcontact {
    margin-top: 36px;
    margin-left: 2vw;
}
div p.work {
    margin: 3vh 1vw 1vh 1vw;
}
div.circle.sidepic img {
    height: 25vh;
    width: 41vw;
    margin: 4px;
    max-width: 400px;
}
div.circle.sidepic img:hover{
    height: 26vh;
    width: 42vw;
 }
div#subsection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -3vh;
}
div.circle#facial img {
    height: 25vh;
    width: 41vw;
    margin: 5px;
    max-width: 400px;
}
div.circle#facial img:hover {
    height: 26vh;
    width: 42vw;
 }
div.circle#waxing img {
    height: 25vh;
    width: 41vw;
    margin: 4px;
    max-width: 400px;
}
div.circle#waxing img:hover {
    height: 26vh;
    width: 42vw;
 }
div#salonmain#salonmain img {
    height: 25vh;
    width: 41vw;
    margin: 4px;
    max-width: 400px;
}
div#salonmain#salonmain img:hover {
    height: 26vh;
    width: 42vw;
 }
section#secondsection{
    height: 94vh;    
}
section#secondsection::before{
    height: 94vh;    
 }
 section#thirdsection {
    height: 65vh;
 }
 section#thirdsection::before {
    height: 76vh;
 }
 div.thrdhead {
    margin-left: 17vw;
    font-size: 2rem;
 }
 section#thirdsection div.thrd {
    display: flex;
    flex-direction: column;
    height: 67vh;
}
div.circleimg {
    width: 64vw;
    margin: auto;
    margin-top: 0vh;
    margin-bottom: 0vh;
}
div.circleimg img {
    height: 31vh;
    width: 62vw;
    max-width: 635px;
}
p.thirdhead {
    font-size: 2.5rem;
}
div#thrdpara {
    margin: auto;
    margin-bottom: 6vh;
    margin-top: 3vh;
}
p.thrdpara {
    width: 95vw;
    margin: 0px 10px 0px 10px;
}
p.thrddetail{
    font-size: 0.8rem;
}
section#forthsection {
    height: 79vh;
    flex-direction: column;
}
div#fourth {
    margin: auto;
    width: 90vw;
}
div#fourth p.thrdpara {
    margin-left: 0px;
}
div#fourth div#contactlash{
    margin: auto;
    text-align: center;
    margin-top: 2vh;
    width: 90vw;
}
div#contactlash {
    margin: auto;
    text-align: center;
    margin-top: 2vh;
    width: 100vw;
}
div#forthimg{
    margin: auto;
}
div#forthimg img {
    width: 70vw;
    max-width: 595px;
    height: 39vh;
}
section#fifthsection {
    height: 70vh;
    display: flex;
    flex-direction: column;
}
div.fifthimg{
    margin: auto;
}
div.fifthimg img {
    height: 38vh;
    width: 80vw;
    margin: auto;
    margin-left: 0vw;
}
div#fifth {
    margin: auto;
}
section#sixthsection {
    height: 70vh;
    flex-direction: column;
}
div#sixth {
    width: 100vw;
    margin-top: 6vh;
    margin-left: 0vh;
}
div#sixthimg {
    width: 63vw;
    margin: auto;
}
div#sixthimg img {
    height: 31vh;
    max-height: 44vh;
    margin-left: 0px;
    width: 63vw;
}
section#seventhsection {
    height: 69vh;
    flex-direction: column;
}
div#seventh {
    width: 100vw;
    margin-top: 0vh;
    margin-bottom: 4vh;
}
div.seventhimg{
    align-items: center;
    margin: auto;
}
div.seventhimg img {
    height: 32vh;
    width: 56vw;
}
section#eighthsection {
    height: 136vh;
}
section#eighthsection::before {
    height: 156vh;
}
div.boxes img {
    
    width: 20vw;
    max-width: 109px;
    height: 8vh;
    margin: auto;
}
div#artistdescription {
    flex-direction: column;
    height: 117vh;
}
div.boxes {
    width: 65vw;
    height: 34vh;
    margin: 10px;
    margin: auto;
    margin-bottom: 1vh;
    margin-top: 2vh;
}
div.boxes:hover{
    width: 70vw;
    height:35vh ;
}
div p.work{
    font-size: 0.8rem;
}
p.artistname {
    font-size: 12px;
}
div.lastslogan {
    font-size: 2rem;
}
footer{
    height: 44vh;
}
footer div#footercontact {
    height: 39vh;
    padding: 45px 12px;
    font-size: 0.7rem;
}
footer div.center {
    height: 3vh;
    padding-top: 1vh;
    font-size: 0.7rem;
}